@charset "utf-8";
body {
  position: relative;
  margin: auto;
  padding: 40px;
  width: 700px;
  min-height: 120vh;
}
h1 {
  text-align: center;
  b-ackground-color: red;
}
div {
  margin: auto;
  b-ackground-color: green;
  width: 700px;
}
#m {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
#m:link {
  color: red;
}
#m:visited {
  color: red;
}
#m:hover {
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#i {
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  left: 530px;
  top: 0px;
}
#i:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
nav {
  margin-top: 20px;
  margin-left: 20px;
}
#x {
  position: relative;
}
