* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  padding: 40px;
  min-height: 120vh;
  background-color: rgb(240, 240, 240);
  width: 900px;
  margin: auto;
}
.principal {
  margin: 20px;
}
.container {
  float: left;
  padding: 30px;
  margin-bottom: 50px;
  background-color: lightcoral;
}
section {
  padding: 10px 10px 10px 145px;
  background-color: lightcyan;
}
footer {
  padding: 20px;
  font-style: italic;
  text-align: center;
  background-color: lightgray;
}
section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}
