* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 120vh;
  background-color: rgb(240, 240, 240);
  width: 700px;
  margin: auto;
}
nav {
  text-align: center;
  margin: 40px 20px 40px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* -----puncte comune----- */

main {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border: 2px solid grey;
}
div {
  padding: 5px;
  position: relative;
}
p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ------stiintific------- */

.standard {
  width: 500px;
  margin-bottom: 30px;
}
.standard .tastatura div {
  background-color: rgb(240, 240, 240);
}
.standard .ecran {
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 35px 130px 35px;
  grid-template-areas:
    "a a . b c d"
    "e f f g . h"
    "i i i i i i"
    "j k l m n o";
  background-color: rgb(230, 230, 230);
  padding: 5px;
}
.standard .ecran .a {
  grid-area: a;
  font-size: 23px;
}
.standard .ecran .b {
  grid-area: b;
}
.standard .ecran .c {
  grid-area: c;

  font-size: 40px;
}
.standard .ecran .c p {
  top: 15px;
}
.standard .ecran .d {
  grid-area: d;
}
.standard .ecran .e {
  grid-area: e;
}
.standard .ecran .f {
  grid-area: f;
  font-size: 30px;
  text-align: left;
}
.standard .ecran .g {
  grid-area: g;
}
.standard .ecran .h {
  grid-area: h;
}
.standard .ecran .i {
  grid-area: i;
  font-size: 60px;
  text-align: right;
  padding-right: 20px;
}
.standard .ecran .j {
  grid-area: j;
  opacity: 0.5;
}
.standard .ecran .k {
  grid-area: k;
  opacity: 0.5;
}
.standard .ecran .l {
  grid-area: l;
}
.standard .ecran .m {
  grid-area: m;
}
.standard .ecran .n {
  grid-area: n;
}
.standard .ecran .o {
  grid-area: o;
  opacity: 0.5;
}
.standard .ecran .o p {
  top: 11px;
}
.standard .tastatura {
  background-color: rgb(230, 230, 230);
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 70px);
}
.standard .tastatura .num {
  background-color: rgb(250, 250, 250);
}
.standard .tastatura div:not(div:last-child):hover {
  background-color: rgb(167, 167, 167);
}
.standard .tastatura div:last-child {
  background-color: rgba(27, 105, 177, 0.514);
}
.standard .tastatura div:last-child:hover {
  background-color: rgb(27, 104, 177);
}
.standard .ecran div:not(.a):not(.f):not(.d):not(.i):hover {
  background-color: rgb(210, 210, 210);
}
.standard .ecran .d:hover {
  background-color: rgb(185, 0, 0);
}

/* stiintific*/
.stiintific {
  width: 550px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.stiintific .ecran {
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 35px 130px 35px 35px 35px;
  grid-template-areas:
    "a a . b c d"
    "e f f . . h"
    "i i i i i i"
    "p r . . . ."
    "j k l m n o"
    "s s t t . .";
  background-color: rgb(230, 230, 230);
  padding: 5px;
}
.stiintific .ecran div {
}
.stiintific .ecran .a {
  grid-area: a;
  font-size: 23px;
}
.stiintific .ecran .b {
  grid-area: b;
}
.stiintific .ecran .c {
  grid-area: c;
}
.stiintific .ecran .d {
  grid-area: d;
}
.stiintific .ecran .e {
  grid-area: e;
}
.stiintific .ecran .f {
  grid-area: f;
  font-size: 30px;
  text-align: left;
}

.stiintific .ecran .h {
  grid-area: h;
}
.stiintific .ecran .i {
  grid-area: i;
  font-size: 60px;
  text-align: right;
  padding-right: 20px;
}
.stiintific .ecran .j {
  grid-area: j;
  opacity: 0.5;
}
.stiintific .ecran .k {
  grid-area: k;
  opacity: 0.5;
}
.stiintific .ecran .l {
  grid-area: l;
}
.stiintific .ecran .m {
  grid-area: m;
}
.stiintific .ecran .n {
  grid-area: n;
}
.stiintific .ecran .o {
  grid-area: o;
  opacity: 0.5;
}
.stiintific .ecran .p {
  grid-area: p;
}
.stiintific .ecran .r {
  grid-area: r;
}
.stiintific .ecran .s {
  grid-area: s;
}
.stiintific .ecran .t {
  grid-area: t;
}
.stiintific .tastatura {
  background-color: rgb(230, 230, 230);
  display: grid;
  width: 100%;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 60px);
}
.stiintific .tastatura div {
  background-color: rgb(240, 240, 240);
}
.stiintific .tastatura .num {
  background-color: rgb(250, 250, 250);
}
.stiintific .tastatura div:not(div:last-child):hover {
  background-color: rgb(151, 151, 151);
}
.stiintific .tastatura div:last-child {
  background-color: rgba(27, 105, 177, 0.514);
}
.stiintific .tastatura div:last-child:hover {
  background-color: rgb(27, 104, 177);
}
.stiintific .ecran div:not(.a):not(.f):not(.d):not(.i):hover {
  background-color: rgb(210, 210, 210);
}
.stiintific .ecran .d:hover {
  background-color: rgb(185, 0, 0);
}
